.container {
    padding: 12px;
    cursor: pointer;
    background: linear-gradient(to bottom, #1f2f94, #0db0fe);
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
  }